---
// Footer component
---

<footer class="py-3 px-6 mt-8">
  <div class="text-center md:text-right">
    <p class="text-xs text-gray-400">
      Powered by <span class="text-gray-500">Terretech Nusantara</span> © 2025 - 
      <span class="text-gray-500">1.0.1 Beta</span>
    </p>
  </div>
</footer>